.data-source-content-wrapper[data-v-86bdc796]{width:100%;background-color:var(--color-gray-100)}.data-source-render[data-v-86bdc796]{height:100%;background-color:var(--color-white);border-radius:8px;overflow:hidden}
